/* CSS Document */
/* Heading element */
h1 {
text-align: center;
}
/* Media querie for all elements for Desktop */
/* Media querie for all elements for Tablet */

nav {
    width: 100%;
    padding-bottom: 10%;
}

nav ul {
    text-align: center;
    list-style-type: none;
}

nav li {
    font-size: 1.5em;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
    padding-right: 1%;
    width: 31.334%;
    float: left;
    background-color: #67afcb;
}

nav li a {
    display: block;
    color: #092834;
    text-decoration: none;

}

/* Body element */
body {
  background-image: url("../Images/Relaxing.png");
  background-size: cover;
  background-color: whitesmoke
  }
  
  h1 {
    color: black
  }
  p {
    color: black
  }
