/* CSS Document */
/* Heading element */
h1 {
text-align: center;
}
/* Media querie for all elements for Desktop */
/* Media querie for all elements for Tablet */



/* Body element */
body {
  background-image: url("../Images/Relaxing.png");
  background-size: cover;
  background-color: whitesmoke
  }
  
  h1 {
    color: black
  }
  p {
    color: black
  }
